Ejercicio2/muebles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="muebles">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence>
                <xs:element name="mueble" maxOccurs="unbounded"/>
                <xs:choice>
                    <xs:element name="mesa" type="xs:string" />
                    <xs:element name="silla" type="xs:string" />
                </xs:choice>
                </xs:sequence>
                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:attribute name="color" type="xs:string" />
</xs:schema>
        