Ejercicio4/boletin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="boletin">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string" />
                            <xs:element name="ciclo" type="xs:string" />
                            <xs:element name="curso" type="xs:int" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

</xs:schema>